/***** Predefined elements *****/
body {
    font-family: Lucida Console;
    height: 100%;
    background-color: aliceblue;
}

header {
    align-items: center;
    display: flex;
    background-color: lightyellow;
    height: 70px;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

th, td {
    padding: 15px;
}

input {
    margin: 20px 40px 20px 40px;
}

/***** Classes *****/
.about {
    margin-bottom: 30px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.roadmap {
    flex-direction: row;
    display: flex;
}

.team {
    text-align: center;
    flex-direction: row;
    background-color: aliceblue;
    display: flex;
    padding-top: 60px;
}

.team-photo {
    width: 30%;
    margin: 10px;
    flex-wrap: wrap;
}

.wireframe {
    width: 25%;
    margin: 10px;
    flex-wrap: wrap;
    height: 250px;
}

.team-info {
    text-align: center;
    flex-direction: row;
    background-color: pink;
    display: flex;
}

.team-table {
    width: 100%;
    margin: 10px;
    height: 300px;
}

.feedback {
    text-align: center;
    background-color: pink;
    height: 350px;
}

.giphy-embed {
    margin: 20px 0px 30px 0px;
}

.feedback-gif {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
}

/***** IDs *****/
#roadmap-left {
    margin-right: 10px;
    background-color: pink;
    width: 50%;
    text-align: left;
}

#roadmap-right {
    background-color: lightyellow;
    width: 50%;
}

#team-left {
    width: 33.33%;
}

#team-center {
    width: 33.33%;
}

#team-right {
    width: 33.33%;
}

#firstname {
    width: 500px;
}

#lastname {
    width: 500px;
}